
<div class="login">
<mat-card style="width: 50%;text-align: center;">
    <form #loginForm="ngForm">
    <mat-card-title>Login</mat-card-title>
<mat-form-field style="width: 50%;">
    <mat-label>Enter Your Email</mat-label>
    <input matInput name="email" [(ngModel)]="email" [pattern]="emailPattern" #emailText="ngModel" required>
    <mat-error *ngIf="emailText.errors?.required">Email is required</mat-error>
    <mat-error *ngIf="emailText.errors?.pattern">Invalid email</mat-error>
  </mat-form-field>
 <br>
  <mat-form-field style="width: 50%;">
    <mat-label>Enter Your Password</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="pwd" #pwdText="ngModel" required>
    <mat-error *ngIf="pwdText.errors?.required">Password is required</mat-error>
  </mat-form-field>
</form>
<div>
    <button mat-raised-button color="primary" (click)="loginSubmit(loginForm.value)" [disabled]="!loginForm.valid">Login</button>
</div>
<p>Don't you have an account? <a [routerLink]="['/register']">signup</a></p>
</mat-card>
</div>