.upload{
    display: flex;
    justify-content: center;
}

.upload_row {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.button_up{
    display: flex;
    justify-content: space-around;
}

.example-spacer {
    flex: 1 1 auto;
  }

