<div>
<div>
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" >
        <mat-icon matTooltip="Home">home</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" (click)="logout()">
        <mat-icon matTooltip="Logout">power_settings_new</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</div>

<div class="upload" style="margin-top: 50px;">
    <mat-card style="width: 50%;">
        <mat-card-title style="text-align: center;">Upload File</mat-card-title>

        <div class="upload_row">
        <input style="margin-top: 50px;" type="file" (change)="onSelectFile($event)" accept=".pdf,.doc" multiple>
        <div class="button_up">
        <button mat-raised-button color="accent" (click)="upload()" [disabled]="!file">save</button>
        <button style="width: 55%;" mat-raised-button color="primary" (click)="next()">view files
            <mat-icon>chevron_right</mat-icon></button>
    </div>
    </div>            
</mat-card>
</div>
</div>
