
<div class="reg">
    <mat-card style="width: 50%;text-align: center;">
        <form #registerForm="ngForm">

        <mat-card-title>Register</mat-card-title>
        <mat-form-field style="width: 50%;">
            <mat-label>Enter Your Name</mat-label>
            <input matInput name="name" [(ngModel)]="name" #nameText="ngModel" required>
            <mat-error *ngIf="nameText.errors?.required">Name is required</mat-error>
        </mat-form-field>
<br>
    <mat-form-field style="width: 50%;">
        <mat-label>Enter Your Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="email" [pattern]="emailPattern" #emailText="ngModel" required>
        <mat-error *ngIf="emailText.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="emailText.errors?.pattern">Invalid email</mat-error>
      </mat-form-field>
     <br>
      <mat-form-field style="width: 50%;">
        <mat-label>Enter Your Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="password" #pwdText="ngModel" required>
        <mat-error *ngIf="pwdText.errors?.required">Password is required</mat-error>
      </mat-form-field>
    </form>
    <div>
        <button mat-raised-button color="primary" (click)="register(registerForm.value)" [disabled]="!registerForm.valid">Signup</button>
    </div>
    <p>Already have an account? <a [routerLink]="['/login']">login</a></p>
    </mat-card>
    </div>
