<div>
  <div>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" >
          <mat-icon matTooltip="Home">home</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" (click)="logout()">
          <mat-icon matTooltip="Logout">power_settings_new</mat-icon>
        </button>
      </mat-toolbar>
    </p>
  </div>

    <mat-card>
        <mat-card-title>Files</mat-card-title>
    </mat-card>
    <div style="margin-top: 50px;margin-left: 10px;">
        <table style="width: 50%;" *ngIf="fileList.length">
            <tr>
              <th>SL NO</th>
              <th>File Name</th>
              <th style="width: 30%;">Download</th>
            </tr>
            <tr *ngFor="let item of fileList; let i = index" style="text-align: center;">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td><button mat-mini-fab color="primary" (click)="download(item)">
                <mat-icon>download</mat-icon></button></td>
            </tr>
          </table>
          <table *ngIf="!fileList.length" style="border: none;margin-left: 50px;">
             <h1> No Data Found </h1>
          </table>
          <div style="margin-top: 20px;">
          <button style="width: 15%;" mat-raised-button color="primary" (click)="back()">
            <mat-icon>chevron_left</mat-icon> back to upload</button>
        </div>
    </div>
</div>
